nav{
    padding:20px;
    background-color: lightgrey;
    color:lightsteelblue;
}
 a {
    color : purple;
 }

 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightyellow;
    color: black;
    text-align: center;
}

#grad1 {
    height: 170px;
    background-color: white;
    width:100%;
  }
  
  #grad {
      height: 200px;
      width:50%;
    background-image: linear-gradient(to right, 
    rgba(255,0,0,0), rgba(255,0,0,1));
  }
  h1{
    background-color: lightblue;
    height:60px;
    border-radius: 0rem;
    text-align: center;
  }
  a {
    height:20px;
    letter-spacing: 4px;
    background-color: lightseagreen;
  }

  .section-home-one {
    background-color: antiquewhite;
  }
  .home-page-two{
    background-color: antiquewhite;
  }